label {
  color: red;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
}

button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1rem;
}

/* Hover effect for button */
button:hover {
  background-color: blue;
}

/* Disabled button styles */
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
